@page
@model WebClinic.Pages.Procedimentos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar procedimento</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data de realização
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Procedimento.DataRealizacao)
        </dd>
        <dt>
            Tipo de procedimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Procedimento.TipoProcedimento.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Procedimento.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Procedimento.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Procedimento.Pagamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Procedimento.Pagamento)
        </dd>
        <dt>
            Médico responsável
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Procedimento.Medico.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Procedimento.Animal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Procedimento.Animal.Nome)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Procedimento.ID" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
