@page
@model WebClinic.Pages.TiposProcedimentos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhers</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoProcedimento.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoProcedimento.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoProcedimento.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoProcedimento.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoProcedimento.Custo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoProcedimento.Custo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TipoProcedimento.ID">Alterar</a> |
    <a asp-page="./Index">Voltar para lista</a>
</div>
